* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}
:root {
    --font: sen, sans-serif;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* dùng chung */
.content {
    width: 1170px;
    max-width: 100%;
    width: calc(100%-48px);
    margin-left: auto;
    margin-right: auto;
}
/* Header */
header {
    background: #fffcf4;
    height: 900px;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 47px;
}
.navbar ul {
    display: flex;
    margin-left: auto;
}
.navbar ul li {
    padding: 0 21px;
}
.navbar ul li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}
.navbar ul li a:hover {
    text-decoration: underline;
}
.navbar ul li:first-child a {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #171100;
}
.sg a {
    padding: 11px 41px;
    background: #171100;
    border-radius: 24.5px;
    color: #fff;
    margin-left: 49px;
}
.sg:hover {
    opacity: 0.5;
}
/* ------hero------ */
.hero {
    width: 1170px;
    padding-top: 64px;
    display: flex;
}
.hero-logo {
    width: 48%;
    position: relative;
}
.hero-logo .card {
    position: absolute;
    bottom: 5px;
    left: 270px;
}
.hero-main {
    width: 52%;
    margin-top: 64px;
    margin-left: 230px;
}
.hero-main h1 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
    letter-spacing: -0.02em;

    color: #171100;
}
.hero-main .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5f5b53;
    margin: 22px 0 38px 0;
}
.btn {
    width: 180px;
    height: 64px;
    margin-bottom: 48px;
}
.btn a {
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    text-align: center;
    color: #ffffff;
    background: #ffb900;
    border-radius: 32px;
    padding: 17px 34px;
}
.ft p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5f5b53;
    margin-bottom: 8px;
}
.assess {
    display: flex;
}
.assess p:first-child {
    margin-right: 28px;
}
.assess strong {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #171100;
}
/* Courses */
.courses .cs-head {
    margin-top: 200px;
    position: relative;
}
.courses .cs-head h2 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #171100;
    padding-bottom: 16px;
}
.courses .cs-head p {
    width: 458px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5f5b53;
}
.courses .cricle {
    display: flex;
    position: absolute;
    top: 30px;
    right: 0;
}
.courses .cricle .c1 {
    color: #ffb900;
    padding: 14px 17px;
    border: 1px solid #ffb900;
    border-radius: 999px;
    margin-right: 18px;
}
.courses .cricle .c2 {
    background-color: #ffb900;
    color: #fff;
    padding: 14px 17px;
    border: 1px solid #ffb900;
    border-radius: 999px;
}
.courses .cricle a:hover {
    opacity: 0.7;
}
.courses .cs-body {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.courses .review {
    background: #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}
.courses .review h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}
.courses .review .q {
    padding: 16px 22px 22px 22px;
}
.courses .review .acs {
    display: flex;
    align-items: center;
    padding-bottom: 6px;
}
.courses .review .acs img {
    margin-left: auto;
}
.courses .review .q .buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
.courses .review .q .buy .yl {
    color: #fff;
    background: #ffb900;
    border-radius: 25px;
    padding: 12px 24px;
}
.courses .review .q .buy a {
    color: #fff;
    background: #171100;
    border-radius: 25px;
    padding: 12px 24px;
}
.courses .review .q .buy a:hover {
    opacity: 0.7;
}
/* Features */
.feature {
    background-color: #2e2100;
    height: 380px;
    margin-top: 200px;
}
.feature .main {
    padding: 96px 0;
    display: flex;
    width: 1170px;
}
.feature .row1 {
    padding-right: 271px;
}
.feature .row1 .avatar {
    min-width: 161px;
    min-height: 188px;
}
.feature .row1 strong {
    font-family: var(--font);
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #f7f7f7;
}
.feature .row1 p {
    padding-top: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb3;
}
.feature .row1 .avt {
    max-width: 72px;
    max-height: 72px;
    display: block;
    margin-bottom: 18px;
}
.feature .row2 em {
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color: #ffffff;
}
/* Features */
.features .main {
    display: flex;
    margin-top: 200px;
}
.features .main .row1 {
    display: flex;
    min-width: 570px;
    min-height: 438px;
    gap: 30px;
    margin-right: 130px;
}
.features .main .row1 .d-img1 {
    padding-top: 34px;
}
.features .main .row2 {
    width: 470px;
    height: 322px;
}
.features .main .row2 .body h3 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #171100;
}
.features .main .row2 .body .desc {
    padding-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}
.features .main .row2 .body span {
    display: block;
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}

.features .main .row2 .body .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb900;
    border-radius: 26px;
    width: 137px;
    height: 50px;
    color: #fff;
    margin-top: 32px;
}
.features .main .row2 .body .btn:hover {
    opacity: 0.5;
}
/* CTA */
.CTA .main {
    display: flex;
    margin-top: 200px;
}
.CTA .main .row1 {
    width: 570px;
    margin-right: 130px;
    padding-top: 71px;
}
.CTA .main .row1 h3 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #171100;
}
.CTA .main .row1 .desc {
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}
.CTA .main .row1 .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb900;
    border-radius: 26px;
    width: 137px;
    height: 50px;
    color: #fff;
    margin-top: 32px;
}
.CTA .main .row2 img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
/* Blog */
.blog {
    margin-top: 200px;
    background: #fffcf4;
    height: 878px;
}
.blog .content {
    text-align: center;
}
.blog .column1 {
    display: inline-block;
    margin: 96px auto 55px auto;
    max-width: 448px;
}
.blog .column1 h2 {
    font-family: var(--font);
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #130606;
}
.blog .column1 span {
    display: block;
    margin-top: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #696262;
}
.blog .column2 {
    display: flex;
    gap: 30px;
}
.blog .column2 .reviews {
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    text-align: start;
}
.blog .column2 .reviews .rv {
    margin: 20px 20px 28px 20px;
}
.blog .column2 .reviews .rv span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5f5b53;
    padding-bottom: 12px;
    border-bottom: 1px solid #e2dfda;
    list-style: circle;
}
.blog .column2 .reviews .rv h4 {
    margin: 12px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #171100;
}
.blog .column2 .reviews .rv .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffb900;
    border-radius: 26px;
    width: 118px;
    height: 50px;
    color: #fff;
}
/* Footer */
footer {
    background-color: #2e2100;
    height: 428px;
    padding-top: 96px;
}
footer .main {
    display: flex;
}
footer .content {
    border-bottom: 1px solid #59554b;
    padding-bottom: 26px;
}
footer .main .row1 {
    margin-right: 145px;
}
footer .main .row1 .body {
    min-width: 267px;
}
footer .main .row1 .body img {
    display: block;
    margin-bottom: 18px;
}
footer .main .row1 .body span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
}
footer .main .row1 .body .contact {
    margin-top: 18px;
    display: flex;
    gap: 18px;
}
footer .cpr span {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #807d74;
}
footer .main .row2 {
    margin-right: 130px;
    min-width: 130px;
}
footer .main .row2 .com {
    max-width: 130px;
    padding-bottom: 14px;
    border-bottom: 1px solid #59554b;
}
footer .main .row2 span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
footer .main .row2 ul {
    margin-top: 28px;
}
footer .main .row2 ul li {
    margin-bottom: 12px;
}
footer .main .row2 ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
}
footer .main .row3 {
    margin-right: 130px;
    min-width: 140px;
}

footer .main .row3 .sup {
    max-width: 130px;
    padding-bottom: 14px;
    border-bottom: 1px solid #59554b;
}
footer .main .row3 span {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
footer .main .row3 ul {
    margin-top: 28px;
}
footer .main .row3 ul li {
    margin-bottom: 12px;
}
footer .main .row3 ul li a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
}
footer .main .row4 {
    display: block;
    min-width: 231px;
}
footer .main .row4 h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    max-width: 130px;
    padding-bottom: 14px;
    border-bottom: 1px solid #59554b;
    margin-bottom: 28px;
}
footer .main .row4 p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
    margin-bottom: 12px;
}
footer .main .row4 p strong {
    color: #fff;
}
